/monitors.xml
/pavucontrol.ini
/user-dirs.dirs
/user-dirs.locale
/zoomus.conf
/mimeapps.list
/vlc/
/VirtualBox/
/Unknown Organization/
/unity/
/Slack/
/ranger/bookmarks
/ranger/history
/ranger/tagged
/pulse/
/Postman/
/nautilus/
/menus/
/libreoffice/
/libaccounts-glib/
/ibus/
/google-chrome/
/gtk-3.0/
/gtk-2.0/
/goa-1.0/
/gnome-session/
/gnome-control-center/
/git/
/gedit/
/font-manager/
/evolution/
/enchant/
/dconf/
/configstore/
/compiz-1/
/chromium/
/autostart/
/3T/
/.idea/
/eog/
/fontconfig/
/upstart/
/update-notifier/
/ranger/commands_full.py
/ranger/commands.py
